@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.bg-regis {
  background-image: url(../asset/bg-register.png);
}

a,
a:visited {
  color: #fff;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.reg-errmsg {
  color: firebrick;
  font-weight: bold;
  position: absolute;
}

.line {
  display: inline-block;
}

.register_text-sign-in {
  margin-left: 280px;
  margin-top: -8px;
}
