.dash_page {
  min-height: 100vh;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url(../asset/bg-db.jpeg);
}
.dash_title {
  font-size: 80px;
  font-weight: 700;
  margin-top: 900px;
  color: white;
}

.game-preview {
  height: 400px;
  width: 800px;
  margin-top: 120px;
}

.db_title {
  margin-top: -260px;
  margin-left: 50px;
}

.db_subtitle {
  margin-top: -210px;
  margin-left: 50px;
}

.db_btn-play {
  margin-top: -100px;
  margin-left: 50px;
}
