@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  min-height: 100vh;
  background-image: url(../asset/bg-login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: dodgerblue;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}

.login-comp {
  width: 100%;
  max-width: 620px;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-image: url(../asset/box-login.png);
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.login_logo {
  height: auto;
  width: 250px;
  margin-top: -200px;
}

.login_title {
  font-size: 30px;
  font-weight: 600;
  margin-top: -70px;
  padding-bottom: 10px;
  margin-left: 20px;
  color: white;
}

.login_subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.login_label {
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0;
  width: 300px;
  margin-left: 150px;
  margin-top: 100px;
  /* padding-bottom: 1rem; */
}

.login_text-signup {
  margin-top: 60px;
  margin-left: 180px;
  font-size: 17px;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.login_btn-login-comp {
  margin-left: 76px;
  margin-top: 20px;
}

.login_btn-login-base {
  height: auto;
  width: 140px;
  margin-top: 30px;
}

.login_btn-login {
  height: 51px;
  width: 102px;
  border-radius: 10px;
  background-color: #56240f;
  margin-top: 0px;
  margin-left: 10px;
  transition: bottom ease 0.5s;
}

.login_btn-login:hover {
  top: 8px;
  cursor: pointer;
}

.login_btn-login:before {
  content: "Login";
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-left: 0px;
  padding-top: 7px;
  height: 46px;
  width: 97px;
  border-radius: 10px;
  background-color: #ff2273;
  display: block;
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
}

.login_btn-login:after {
  content: "";
  height: 4px;
  width: 20px;
  border-radius: 10px;
  background-color: white;
  display: block;
  position: absolute;
  margin-left: 70px;
  margin-top: 8px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
